# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Environnements virtuels
.venv

# Secrets
.env

# Données brutes (trop volumineuses pour Git)
data/

# MLflow
mlflow.db
mlruns/
mlartifacts/
*.db

# Tests et couverture
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.ruff_cache/

# Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store
